<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <NavgationSettings>
    <NavgationPanel Text="出口报关" Icon="icon_solutions_32px.png" IsExpanded="true">
      <Navgation Text="所有" NavgationURL="/CustomsAll" Icon="icon_profile_32px.png" />
      <Navgation Text="清单" NavgationURL="/CustomersList" Icon="icon_lists_32px.png" />
      <Navgation Text="操作" NavgationURL="/CustomersOperation" Icon="icon_lists_32px.png" />
      <Navgation Text="退税" NavgationURL="/CustomersTaxRefund" Icon="icon_lists_32px.png" />
      <Navgation Text="校验" NavgationURL="/CustomersVerify" Icon="icon_lists_32px.png" />
    </NavgationPanel>
    <NavgationPanel Text="档案" Icon="icon_users_32px.png">
      <Navgation Text="客户" NavgationURL="/ArchiveCustomer" Icon="icon_users_32px.png" />
      <Navgation Text="用户" NavgationURL="/ArchiveUser" Icon="tux.png" />
      <Navgation Text="角色" NavgationURL="/ArchiveRole" Icon="agt_reload.png" />
    </NavgationPanel>
    <NavgationPanel Text="工具" Icon="icon_wizard_32px.png">
      <Navgation Text="报关工具" NavgationURL="/CustomersTool" Icon="icon_wizard_32px.png" />
    </NavgationPanel>
  </NavgationSettings>

  <RoleAccessSettings>
    <Role Name="Customer">
      <Deny Path="/ArchiveBoss" />
      <Deny Path="/ArchiveUser" />
      <Deny Path="/ArchiveRole" />
    </Role>
    <Role Name="User">
      <Deny Path="/ArchiveBoss" />
      <Deny Path="/ArchiveCustomer" />
      <Deny Path="/ArchiveRole" />
    </Role>
  </RoleAccessSettings>
</Root>